<div class="container">

    <div class="jumbotron">
        <h1 id="color-override">Eat the Burger</h1>
        <p id="color-override">Make burgers, eat burgers.</p>
        <div class="row">
            <!-- Create Burgers -->
            <div class="col-sm-6">
                <panel>
                <h2 id="color-override">Make a Burger</h2>
                    <form action="/burgers/create" method="post">
                        <div class="form-group">
                            <input type="text" id="newburger" name="burger_name" placeholder="Burger Name">
                            <button type="submit" class="btn btn-success" id="addburger" onclick="return validateInput()"><span class="fa fa-thumbs-up"></span></button>
                        </div>
                    </form>
                </panel>
            </div>

            <!-- Add Customers -->
            <div class="col-sm-6">
                <panel>
                <h2 id="color-override">Add a Customer</h2>
                    <form action="/eaters/create" method="post">
                        <div class="form-group">
                            <input type="text" id="neweater" name="eater_name" placeholder="Customer Name">
                            <button type="submit" class="btn btn-success" id="addeater"><span class="fa fa-thumbs-up"></span></button>
                        </div>
                    </form>
                </panel>
            </div>
        </div><!-- /row -->
    </div><!-- /jumbotron -->

    <div class="row">

        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>New Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <!-- Method-Override button allows PUT/DELETE requests in HTML without support from a .js file -->
                                <form action="/burgers/update" method="POST">
                                    <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                    <select name="eaterID">
                                        <option>Choose a Customer</option>
                                        {{#each ../eaters}}
                                            <option value={{this.id}}>{{this.eater_name}}</option>
                                        {{/each}}
                                    </select>
                                    <button type="submit" id="eatbutton" class="eatburger btn btn-warning"><span class="fa fa-cutlery"></span></button>
                                </form>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <!-- Method-Override button allows PUT/DELETE requests in HTML without support from a .js file -->
                                <form action="/burgers/delete?_method=DELETE" method="POST">
                                    <span><strong> 
                                        {{this.id}} - {{this.burger_name}} </strong>eaten by 
                                            <strong>{{this.Eater.eater_name}}
                                    </strong></span>
                                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                    <button type="submit" id="trashbutton" class="btn btn-danger"><span class="fa fa-trash"></span></button>
                                </form>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="burgerModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal Content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title"><strong>Whoa, there!</strong></h2>
                    </div>
                    <div class="modal-body">
                        <img id="modal-image" src="/img/burger-mess.jpg">
                    </div>
                    <div class="modal-footer">
                        <div class="modal-message">
                            <h4><i>We know you're hungry, but slow down and name the burger first!</i></h4>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-check"></span></button>
                    </div>
                </div> <!-- End of Modal Content -->
            </div>
        </div> <!-- End of Modal -->

    </div><!-- /row -->

</div><!-- /container -->
<script type="text/javascript">
    function validateInput() {
        $("#addburger").on("submit", function(event) {
            event.preventDefault();

            if ($("#newburger").val() === "") {
                $("#inputModal").modal("show");
                return false;
            };
        });
    }
</script>